body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

textarea {
  width: 300px;
  height: 100px;
}

input, button {
  margin: 10px;
  padding: 10px;
}